a {
    color: #f6f8f9;
    text-decoration: none;
}

a:hover {
    color: #f6f8f9;
    text-decoration: none;
    cursor: pointer;
}

.dropdown-item {
    color: #f6f8f9;
}

body {
    background: url(../img/底纹2.jpg) 0% 0% / cover no-repeat;
}

.card-img-top {
    height: 300px;
    object-fit: cover;
}

.card-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.btn-primary {
    font-size: 1.2rem;
    padding: 10px 20px;
}

footer {
    margin-top: 30px;
    padding: 30px 0px;
    color: white;
    font-size: 12px;
    line-height: 20PX;
    background: url(../img/end2.jpg);
    background-size: cover;
}